.root {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1000px;
  margin: auto;
}

.addButton {
  width: 40px;
  height: 40px;
  margin-left: 18px;
  background: #6200E8;
  box-shadow: 0px 0.8px 1.5px rgba(108, 92, 231, 0.1), 0px 6px 12px rgba(108, 92, 231, 0.2);
  border-radius: 50%;
  border: 0;
  cursor: pointer;
}

.buttonText {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.44px;
  color: #6C5CE7;
}

.buttonRow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 1000px;
  padding-top: 27px;
  padding-bottom: 30px;
  margin: auto;
}

.addButtonContainer {
  display: flex;
  align-items: center;
  justify-content: end;
  position: absolute;
  right: 0;
}

.modal {
  width: 400px;
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  padding: 18px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(108, 92, 231, 0.6);
  border-radius: 15px;
  border: 2px #6C5CE7;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(108, 92, 231, 0.41);
}

.modalLarge {
  height: 600px;
  overflow: scroll;
}

.mb60 {
  width: 30%;
  margin-bottom: 60px;
}

.mr24 {
  margin-right: 24px;
}
