.root {
  display: flex;
  height: 80%;
  padding-left: 50px;
  padding-right: 10px;
}

.nftBlock {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-right: 40px;
  margin-top: 18px;
}

.titleBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0;
  font-family: Inter;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.25px;
  color: #000000;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.img {
  width: 650px;
  height: 430px;
  border-radius: 15px;
}

.user {
  display: flex;
  justify-content: start;
  align-items: center;
}

.avatar {
  width: 12px;
  height: 12px;
  background: grey;
  margin-right: 6px;
  border-radius: 50%;
}

.name {
  font-family: Inter;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.25px;
  color: #000000;
}

.rari {
  width: 24px;
  height: 24px;
}

.proposalBlock {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 10px;
  margin-top: 44px;
}

.modal {
  width: 400px;
  height: 410px;
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  padding: 18px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(108, 92, 231, 0.6);
  border-radius: 15px;
  border: 2px #6C5CE7;
  margin: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(108, 92, 231, 0.41);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.modalTitle {
  margin: 0;
  font-family: Inter;
  font-weight: bold;
  font-size: 14px;
  line-height: 36px;
  letter-spacing: 0.25px;
  color: #6C5CE7;
}

.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: none;
  background: rgba(198, 190, 255, 0.5);
  cursor: pointer;
}

.mb12 {
  margin-bottom: 12px;
}

.mb18 {
  margin-bottom: 18px;
}

.button {
  width: 100%;
}